.box-layout {
  align-items: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  background-image: url(/src/img/grocery-bg.jpg);
}

.box {
  background: white;
  border-radius: 5px;
  border-color: #665c84;
  border-width: medium;
  border-style: solid;
  line-height: 1;
  text-align: center;
  padding: 10px;
  width: 17rem;
}

.splash-text {
  font-size: 1.1em;
  line-height: 1.6em;
}

