/* color scheme:
fbeed7
fff6e8 - offset color
ffba5a
ff7657
665c84 
*/

:root {
  --mdc-theme-primary: #ff7657;
  --mdc-theme-secondary: #ffba5a; /*changes color of radio buttons*/
}

body {
  background-color: #FBEED7;
  margin: 10;
  padding: 10;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.isActive {
  font-weight: bold;
  /* background: #ffba5a; */
}

/* .itemDiv {
  width: 400px;
} */

/* 
.cupboardItemDiv {
  background-color: aqua; 
} */

.mdc-text-field {
  width: 325px;
  margin-bottom: 10px;
}

.row {
  padding-left: 20px;
  padding-bottom: 3px; 
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  background-color: #ffba5a
}

h3 {
  align-content: center;
  align-items: center;
  align-self: center;
  color: #ffffff;
}

hr {
  width: 70%;
  color: #ffba5a
}

.options {
  align-content: center;
}

.item-button {
  width: 100px;
}

.item-info-col {
  width: 130px;
  font-size: .95em;
}

.item-date-info {
  width: 85px;
  font-size: .8em;
  color: #665c84;
}

.bought-used-button {
  width: 75px;
}

.top-buffer {
  margin-top: 65px;
}
