/* old color scheme:
fbeed7
fff6e8 - offset color
ffba5a
ff7657
665c84 

deep orange: #ff7043
deepOrange 400


*/

:root {
  --mdc-theme-primary: #0277bd; /* has to be on top otherwise default colors override */
  --mdc-theme-secondary: #f06292; /*changes color of radio buttons*/
}

body {
  background-color: #e1f5fe;
  margin: unset;
  width: 99%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  color: #665c84;
  font-size: 1.65em;
  font-weight: bold;
}

h3 {
  align-content: center;
  align-items: center;
  align-self: center;
  color: #ffffff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* .MuiInputBase-root-207 {
  color: pink;
} */

/* button {
  display: flex;
  align-content: center;
  align-items: center;
} */

/* .isActive {
  font-weight: bold;
  background: #ffba5a;
} */

.about-text {
  max-width: 500px;
}

.mdc-text-field {
  width: 99%;
  margin-bottom: 10px;
}

.text-field {
  width: 99%;
  margin-bottom: 10px;
}

.bad-now {
  margin-right: 3px;
  color: red;
  --mdc-theme-primary: red;
}

.bad-soon {
  margin-right: 3px;
  color: rgb(255, 208, 0);
  --mdc-theme-primary: rgb(255, 208, 0);
}

.title {
  display: flex;
  background-color: #ffba5a
}

.options {
  display: flex;
  align-content: center;
}

.main-margins {
  margin: 10px;
}

.mdc-text-field--outlined {
  max-width: 968px;
}

.shopping-list-buffer {
  margin-bottom: 25px;
}

.bottom-buffer {
  margin-bottom: 10px;
}

.col-sm-6 {
  max-width: 500px;
}

.item-row {
  width: 100%;
  padding-bottom: 3px; 
  display: flex;
}

.item-span {
  width: 100%;
}

.item-button-col {
  display: flex;
  align-items: center;
}

.item-info-col {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: .95em;
  color: #665c84;
}

.item-list-link {
  color: #665c84;
  overflow: auto;
}

.item-date-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 65px;
  font-size: .75em;
  color:  #f06292;
  margin-right: 2px;
  margin-left: 2px;
  
}

.item-span {
  width: 100%
}

/* not working */
.center-element {
  display: flex;
  align-content: center;
  align-items: flex-end;
  margin-top: 10px;
}

.bought-used-button {
  line-height: 1em;
  width: 75px;
}

.button-120 {
  width: 120px;
}

.button-90 {
  background-color: #0277bd;
}

.top-buffer {
  margin-top: 85px;
  display: flexbox;
  max-width: 968px;
}

.white-text {
  color: #ffffff;
  text-decoration: #ffffff, none;
  font-weight: bold;
  overflow: auto;
}

.loading-img {
  width: 200px;
  height: 200px;
  margin: auto;  
}

/* .login-centered {
  display: flex;
  align-items: center;
  width: 99%;
  height: 99%;
  align-self: center;
  justify-content: center;
} */

.login-text {
  margin-top: 10px;
}



.small-text {
  font-size: .85em;
}

.list-item {
  width: 100%;
}

@import './styles/splash.scss';
@import './styles/header.scss';
@import './styles/buttons.scss';